body {
    background-color: rgb(201, 212, 242);
    list-style-position: inside;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}
img {
    border-radius: 50%;
    max-width: 250px;
    max-height: auto;
    display: inline-flex;
    border-color: black;
    border-style: ridge;;
}
#bioContent {
    max-width: 40%;
}
h3 {
    text-decoration: underline;
}
ul, ol {
    padding: 0%;
}
#playButton {
    padding-top: 30px;
}
.imgIntro {
    display: flex;
}
.oneOnly {
   margin: 100px 0 0 10px;
}